<%- include ('partials/header.ejs') %>
<p class="retour"><a href="/">Retour à la home</a></p>

<table>
    <% for (let film of films) {%>
        <tr>
        <td class="film__title">
            <a href ="/films/<%= film.id %>"><%= film.title %></a>
        </td>
        <td>
            <img class="film__image" src=<%= film.image_src %>>
        </td>
        </tr>
   <% } %>
</table>
</body>
</html>