<%- include ('partials/header.ejs') %>

<nav class="nav__container">
    <p class="nav__title"><a href="/films"> Liste des films ici </a></p>
    <p class="nav__title"><a href="/search"> Rechercher un film</a></p>
</nav>
<p class="login"><a href="/login">Login</a></p>

<main>
    <div class="home__introduction">
        Studio Ghibli, Inc. (スタジオジブリ) is a Japanese animation studio based in Koganei, Tokyo.
        It has a strong presence in the animation industry and has expanded its portfolio to include various media formats, such as short subjects, television commercials, and two television films. Their work has been well-received by audiences and has even been recognized with awards. Its mascot and most recognizable symbol is a character named Totoro, a giant spirit inspired by tanuki and cats from the 1988 anime film My Neighbor Totoro. Among the studio's highest-grossing films are Spirited Away (2001) and Howl's Moving Castle (2004).  The studio was founded on June 15, 1985, by the directors Hayao Miyazaki, Isao Takahata and producer Toshio Suzuki, after acquiring Topcraft's assets. It has also collaborated with video game studios on the visual development of several games.
    </div>
</main>
</body>
</html>